[submodule "InOneWeekend"]
	path = InOneWeekend
	url = https://github.com/RayTracing/InOneWeekend.git
[submodule "raytracing.github.io"]
	path = raytracing.github.io
	url = https://github.com/RayTracing/raytracing.github.io.git
